body {
  background-color: #F7F4EC;
  color: #603912;
}

h1 {
  margin-top: 10px;
}

h3 {
  font-size: 15px;
}

a {
  color: #a37243;
}

button {
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

button:hover {
  border-color:  #603912;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 5px 0;
}

input[type=number] {
  width: 100%;
  padding: 5px 0;
}

.main{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  margin: 10px auto;
  align-items: center;
  border: 1px solid #a37243;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.card {
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 10px;
  margin-top: 15px;
  border: 1px solid transparent;
}

.card:hover {
  border-color:  #603912;
}

.detail button:nth-of-type(1) {
  background-color: steelblue;
  border: none;
  margin-right: 5px;
}

.detail button:nth-of-type(2) {
  background-color: tomato;
  border: none;
}